.home-page{
    
    /* min-height: 100vh; */
    background-color: aqua;
    background-image: url("../../img/light-blue-water-fountain-h9lnrmxm666fesy4.jpg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
}