
.keep-app{
    /* position: relative; */

    height: 920px;
    width: 100%;
    /* border: 15px solid black; */
}
.note-list{
    /* border: 5px solid blue; */
    flex-direction: column;
    width:100%;
    height: fit-content;
}
.note-search{
position: relative;
width: 35%;
display: flex;
}
.note-nav{
    width: 15%;
    height: 100%;
    /* border: 3px solid pink; */
}
.note-content{
    align-items: center;
    width:85%;
    /* border: 3px solid red; */
}
.notes-content{

}
.lists-devider{
  font-size: 22px; 
   border-bottom: 1.5px ridge silver; 
}
.note-search-bar{
position: absolute;
width:100%;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
border-radius: 15px;
border: 1px ridge silver;
margin-bottom: 5%;
}
.search-bar-btns{
    display: flex;
    height: 2.8rem;
    position: relative;
    align-items: right;
    width:100%;
    justify-content: right;
    flex-direction: row;
    pointer-events: none;
}
.sb-btn{
    pointer-events:all;
    border: none;
    background:none;
    border-radius: 50%;
    background-color:none ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:7px ;
    background-size: 50%;
    opacity: 0.4;
    box-shadow: none;
   transition: opacity 0.5s ,box-shadow 0.5s;
}
.sb-btn:hover{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.sb-btn.txt{
    background-image: url("../../../img/A-icon.png");
}
.sb-btn.pic{
    background-image: url("../../../img/pic-icon.png");
}
.sb-btn.video{
     background-image: url("../../../img/video-icon.png");
}
.sb-btn.audio{
       background-image: url("../../../img/audio-icon.png");
}
.sb-btn.todos{
       background-image: url("../../../img/todos-icon.png");
}
.pinned{
  align-items: center;
  justify-items: center;
  width: auto;
  margin: 0 auto; 
  column-count: 4;
  column-gap: 1em;
  height: fit-content;
  padding:1.5%;
}
.un-pinned{
  align-items: center;
  justify-items: center;
  width: auto;
  column-count: 4;
  column-gap: 1em;
  height: fit-content;
  padding:1.5%;
}
.note{
position: relative;
/* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  */
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
width:100%;
padding:15px;
border:2px ridge silver;
background-color: antiquewhite;
min-height: 250px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column; 
  padding: 13px; 
  display: inline-block;
  margin: 0 0 1em;
  height: fit-content;
  max-width: 380px;
  /* animation-name: example;
  animation-duration: 0.2s; */
}
.note-txt{
min-height: 100px;
}
.note-img{
min-height: 320px;
}
.note-todos{
min-height: 10px;
}
.note-video{
min-height: 210px;
/* max-width: 380px; */
}
.note-footer-btn{
  pointer-events:all;
    border: none;
    background:none;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right:7px ;  
    background-size: 50%;
    opacity: 0.6;
    box-shadow: none;
   transition: opacity 0.5s ,box-shadow 0.5s;
  color: rgb(13, 11, 11);
  text-align: center;
  
}
.note-footer{
    border-top:  1px solid silver;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
.note-footer-btn:hover{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.note-footer-btn.trash{
    background-image: url("../../../img/trash-icon.png");
}
.note-footer-btn.edit{
        background-image: url("../../../img/edit-icon.png");
}
.note-footer-btn.mail{
    background-image: url("../../../img/send-email-icon.png");
}
.note-footer-btn.color{
    background-image: url("../../../img/color-icon.png");
}
.note-footer-btn.pin{
    background-image: url("../../../img/pinned-icon.png");
}
.note-footer-btn.unPin{
    background-image: url("../../../img/unpinned-icon.png");
}
.note-title{
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:clip;
    border-bottom:  1px solid silver;

}
.note-txt i{
    height:80% ;
    text-overflow: ellipsis;
    overflow: hidden;
    padding:15px;
    font-size: 1.2rem;
}
.done{
text-decoration: line-through;
cursor: pointer;
}
.done:hover{
color: rgb(4, 179, 4);
}
.unDone{
font-size: larger;
font-weight: bold;
cursor: pointer;
}
.unDone:hover{
 color: rgb(191, 5, 5);
}



